{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'contacts.css' %}" alt="image" />
    <title>Dashboard</title>
</head>

<body>
    <section id="sidebar-menu">
        <div class="logo">
            <h2>MiniCRM</h2>
        </div>

        <div class="menuitems">
            <li><i class='bx bxs-dashboard'></i><a href="../home">Dashboard</a></li>
            <li><i class='bx bxs-contact'></i><a href="../contacts">Contacts</a></li>
            <li><i class='bx bxs-add-to-queue'></i><a href="../addcontact">Add contacts</a></li>
            <li><i class='bx bxs-message-alt-edit'></i><a href="../message">Messages</a></li>
            <li><i class='bx bx-task '></i></i><a href="../tasks">Tasks</a></li>
            <li><i class='bx bx-exit'></i><a href="../logout">Logout</a></li>

        </div>


    </section>

    <section id="interface">
        <div class="topmenu">
            <div class="n1">
                <div>
                    <i id="menu-btn" class='bx bx-menu'></i>
                </div>
                <div class="title">
                    <h2>Contacts</h2>
                </div>
                <div class="profile">
                    <ul>
                        <li>

                            <div class="dropdown">
                                <button class="dropbtn">{{ user.userCompany }}</button>
                               
                            </div>
                    </ul>
                    </li>

                </div>

            </div>

        </div>


        <dir class="board">
            <div id="content">
                <form method="GET">
                    <input type="text" name='search-area' placeholder="Search By Contact Name" size="30" >
                    <input type="submit" value="Search">
                </form>
            </div>
            
            <table width="100%">
                <thead>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Company</td>
                    <td>Role</td>
                    <td>Phone No.</td>
                    <td>Email</td>
                </thead>
                <tbody>
                    {% for contact in contacts %}

                    <tr>
                        <td class="ID">
                            <div class="id-detail">
                                {{ forloop.counter }}
                            </div>
                        </td>

                        <td class="names">
                            <div class="name-detail">
                                {{ contact.Name | title }}
                            </div>
                        </td>

                        <td class="compname">
                            <div class="comp-detail">
                                {{ contact.Company }}
                            </div>
                        </td>

                        <td class="Role">
                            <div class="Role-detail">
                                {{ contact.Role }}
                            </div>
                        </td>

                        <td class="phoneNo.">
                            <div class="phoneno-detail">
                                {{ contact.PhoneNumber }}
                            </div>
                        </td>

                        <td class="emails">
                            <div class="emails-detail">
                                {{ contact.Email }}
                            </div>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </dir>



    </section>

    <script>
        $('#menu-btn').click(function () {
            $('#sidebar-menu').toggleClass("active");
        })
    </script>


</body>

</html>